<%- include('../includes/head.ejs') %>
<!--import css-->
    <link rel="stylesheet" href="/css/forms.css">
    <!--load auth.css file-->
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <!--navigation-->
    <%- include('../includes/navigation.ejs') %>
    <main>
        <!--display error message if there is one-->
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <!--creates a login form-->
        <form class="login-form" action="/new-password" method="POST">
            <!--enter password form-->
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <!--create login button-->
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
    <!--footer-->
    <%- include ('../includes/end.ejs') %>