<%- include('../includes/head.ejs') %>
<!--load css-->
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <!--navigation-->
   <%- include('../includes/navigation.ejs') %>

    <main>
        <!--error message is there is one-->
        <% if (errorMessage) { %>
            <!--output error message-->
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <!--email field-->
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                    type="email" 
                    name="email" 
                    id="email" 
                    value="<%= oldInput.email %>">
            </div>
            <!--password field-->
            <div class="form-control">
                <label for="password">Password</label>
                <input 
                class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%= oldInput.password %>">
            </div>
            <!--confirm password field-->
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <!--keep old input in the fields once submitted if input not valid-->
                <input 
                class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>"
                    type="password" 
                    name="confirmPassword" 
                    id="confirmPassword" 
                    value="<%= oldInput.confirmPassword%>">
            </div>
            <!-- hidden input -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <!--signup button-->
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>
    <!--footer-->
<%- include('../includes/end.ejs') %>