<%- include('../includes/head.ejs') %>
<!--link style sheets-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <!--navigation.ejs-->
    <%- include('../includes/navigation.ejs') %>


    <main>
        <!--error message displays here if there is one-->
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <!--product form-->
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <!--product title field-->
                <label for="title">Title</label>
                <!--gets product title-->
                <input 
                class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<% if (editing || hasError) { %><%= product.title %><% } %>">
            </div>
            <!--image-->
            <div class="form-control">
                <label for="image">Image</label>
                <!--uses default HTML file picker-->
                <input
                    type="file" 
                    name="image" 
                    id="image" >
            </div>
            <div class="form-control">
                <!--product price field-->
                <label for="price">Price</label>
                <!--gets product price-->
                <input 
                class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                    type="number" 
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<% if (editing || hasError) { %><%= product.price %><% } %>">
            </div>
            <!--product descrition field-->
            <div class="form-control">
                <label for="description">Description</label>
                <!--gets product description-->
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    type="text" 
                    name="description" 
                    rows="5" 
                    id="description"><% if (editing || hasError) { %><%= product.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <!--submit button-->
            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
    </main>
    <!--footer ejs-->
    <%- include ('../includes/end.ejs') %>