<%- include('../includes/head.ejs') %>
    <!--load css-->
    <link rel="stylesheet" href="/css/cart.css">
   
</head>

<body>
    <!--navigation-->
    <%- include('../includes/navigation.ejs') %>
    <main>
        <!--show products in cart-->
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>

                        <!--delete item from cart-->
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p.productId._id %>" name="productId">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            <hr>
            <div class="centered">
                <!-- order button that leads to checkout route -->
                <a class="btn" href="/checkout">Order Now!</a>
            </div>
        <% } else { %>
            <!--show if cart is empty-->
            <h1>No Products in Cart</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
